<div class="login-container">

  <!-- LEFT -->
  <div class="left">
    <div class="top-bar">
      <p >WELCOME BACK</p>
    </div>
    

    <h1>Log in to continue your job search</h1>

    <p class="desc">
      Access personalised recommendations, manage your applications,
      and stay ahead with instant updates from top employers.
    </p>

    <ul>
      <li><span class="tick">✔</span> Track your applications in real time</li>
      <li><span class="tick">✔</span> Discover openings tailored to your skills</li>
      <li><span class="tick">✔</span> Save jobs and set alerts in one dashboard</li>
    </ul>
  </div>

  <!-- RIGHT -->
  <div class="right">
    <h2>Sign in to your account</h2>
    <p class="sub">Enter your details below or continue with a social account.</p>

    <div class="social-row">
      <button class="social">
        <img src="https://img.icons8.com/color/16/google-logo.png"/>
        Login with Google
      </button>

      <button class="social">
        <img src="https://img.icons8.com/color/16/linkedin.png"/>
        Login with LinkedIn
      </button>
    </div>

    <div class="divider">
      <span>OR</span>
    </div>

    <label>Email address</label>
    <input type="email" placeholder="name@email.com" />

    <div class="password-row">
      <label>Password</label>
      <a href="#">Forgot password?</a>
    </div>

    <input type="password" placeholder="********" />

    <div class="remember">
      <input type="checkbox" />
      <span>Keep me signed in</span>
    </div>

    <button class="login-btn">Sign In</button>

    <p class="register-text">
      New to JobsPortal? <a routerLink="/signup">Create an account</a>
    </p>
  </div>

</div>